body {
    background-color: rgb(136, 65, 109);
}

.int1 {
    color: rgb(43, 25, 25);

}

#int2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}